<%= form_for :dump_contacts, :url =>{:action => "import_csv_contacts"}, :html => { :multipart => true } do |f| %>

<h3>Importar Contactos CSV</h3>

<div class="field"> 
  <%= f.file_field :file %>
</div>
<div class="field">
  <%= f.submit 'Adjuntar archivo CSV' %>
</div>
<% end %>


