<p>
  <b><%= ContactState.human_attribute_name 'state' %>:</b>
  <%= @contact_state.state %>
</p>

<%= link_to 'Editar', edit_contact_state_path(@contact_state) %> |
<%= link_to 'Volver', contact_states_path %>
